<h1>{{episodio.name}}</h1>
<div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4 columna">
        <div class="card Statistics">
            <h2  class="text-center">Statistics:</h2>
            <h5 class="text-center">Air date: {{episodio.air_date}}</h5>
            <h5 class="text-center">Episode: {{episodio.episode}}</h5>
            <h5 class="text-center">Url: {{episodio.url}}</h5>
            <h5 class="text-center">Created: {{episodio.created}}</h5>
        </div>
    </div>
    <div class="col mb-4 columnaB">
        <div class="card carta"style="overflow-y: scroll;">
            <h2 class="text-center">characters:</h2>
            <h5 class="text-center" *ngFor="let item of episodio.characters">Url: {{item}}</h5>
        </div>
    </div>
</div>
